.form-control {
    background-color: #F0F2F4;
    height: 50px;
    width: 500px;
    border-radius: 20px;
    border: none;
    color: gray;
    margin-bottom: 10px;
    padding-left: 14px;
    margin-left: 6px;
    border: none;
    

}
